.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    align-items: center;
    transition: margin-left 0.3s ease;
    background-color: #ffffff;
  }
  
  .container.with-sidebar-open {
    margin-left: none;
  }
  
  .container.with-sidebar-closed {
    margin-left: none
  }
  
  .formContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 280px;
    margin-bottom: 15px;
  }
  
  .form-row input,
  .form-row select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    outline: none;
    margin-top: 8px;
  }
  
  .form-row input:focus,
  .form-row select:focus {
    border-color: #007bff
  }
  
  .form-row select {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 4 5%22%3E%3Cpath fill=%22%23333%22 d=%22M2 0L0 2h4z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
  
  .form-row select option {
    padding: 10px;
  }
  
  .button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
  
  .button-row button {
    background-color: #009929;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-row button:hover {
    background-color: #30a8f2;
  }
  
  .form-row select {
    margin-left: 0; 
  }
  
  .form-row label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    color: black;
    font-weight: 600;
  }
  
  .modal-grid {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Define duas colunas: 1 parte para opções, 2 partes para o mapa */
    gap: 20px; /* Espaçamento entre colunas */
    align-items: start; /* Alinha o conteúdo ao topo da grid */
  }
  
  .labelModal{
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    font-weight: 600;
  }
  
  .titleModal{
    padding: 5px;
    text-align: left;
  }
  
  .buttonModal{
    background-color: #009929;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonModalClose{
    background-color: #009929;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .labelModalRota{
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 600;
  }
  
  .inputModal{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .inputLabelContainer {
    display: flex;
    align-items: center; /* Alinha o input e a label verticalmente no centro */
    margin-bottom: 10px; /* Espaçamento entre as linhas (opcional) */
  }
  