.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.container {
    background-color: #f4f7fc;
    height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
}

.container.with-sidebar-open {
    margin-left: 240px;
}

.container.with-sidebar-closed {
    margin-left: 60px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.footer {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: #009929;
    color: white;
    padding: 10px 20px;
    width: 75%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #30a8f2;
}

.table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
}

.table th {
    padding: 12px 15px;
    text-align: center;
    color: #2c3e50;
    font-weight: 600;
    background-color: #f4f7fc;
}

.table td {
    padding: 12px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
    color: #2c3e50;
    text-align: center;
}

.table tbody tr:hover td {
    background-color: #f1f1f1;
    cursor: pointer;
}

.table thead tr {
    background-color: #f4f7fc;
}

/* .cardsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 15px;
} */

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding: 10px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #091f33;
}

.card span {
    display: block;
    background-color: #091f33;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.totalCard {
    background-color: #091f33;
    color: #fff;
}

/* .searchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 91%;
    margin: 0 auto;
    padding-bottom: 10px;
} */

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.searchLabel {
    margin-right: 5px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.searchInput {
    width: 30%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.openButton {
    padding: 10px 20px;
    background-color: #009929;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.openButton:hover {
    background-color: #30a8f2;
}

.center{
    display: flex;
    justify-content: center;
}

.chartsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 10px 0 10px;
    padding-bottom: 10px;
}


.chart {
    width: 95%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
}

.chartPie {
    width: 100%;
    height: 285px;
    display: flex;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7fc;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 12px;
    margin: 10px 0  50px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  
  .pagination button.active {
    background-color: #091f33;
    color: white;
    border: 1px solid #091f33;
  }
  
  .pagination button:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
    color: #6c757d;
  }
  

  .buttonsContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .exportButton {
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #009929;
    font-size: 16px;
  }
  
  .exportButton:hover {
    background-color: #30a8f2;
  }

  .filterToggle {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  
  .toggleButton {
    background-color: #009929;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .toggleButton:hover {
    background-color: #30a8f2;
  }
  
  /* .filterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} */

.filterContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    width: 88%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* .filterContainer label {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
    font-weight: 600;
} */

.filterContainer label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.filterContainer select, .filterContainer input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin: 5px;
}

.filterContainer select,
.filterContainer input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.filterContainer input[type="text"],
.filterContainer input[type="date"] {
    width: 90%;
}

.filterContainer select {
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

/* .filterContainer input[type="text"], .filterContainer input[type="date"] {
    width: 160px;
}

.filterContainer select {
    width: 180px;
}

.filterContainer .buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
} */

.resetButton {
    background-color: #009929;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resetButton:hover {
    background-color: #30a8f2;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
  }
  

  
@media screen and (max-width: 1240px) {
    .container {
        width: 1330px;
    }

    .content {
        top: 20%;
    }
}